<!DOCTYPE html>
<html>
  <head>
    <title>DeviseExample</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= link_to 'Vehicles', vehicles_path %>
  	<%= link_to 'Brands', brands_path %>
  	<%= link_to 'Countries', countries_path %>
    <%= link_to 'Users', users_path %>
  	<%= link_to 'Log out', destroy_user_session_path, method: :delete %>
    <%= yield %>
  </body>
</html>
